<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/header.ejs") %>
<body class="admin-page">

    <%- include("../../partials/navAdmin.ejs") %>
    
    <h1 class="title-text"><%=dataType%> Management</h1>

    <%- include("../../partials/table.ejs", JSON.stringify(fields)) %>
    
    <%- include("../../partials/modal.ejs", {title: dataType}, JSON.stringify(fields)) %>
        <script>
            const fields = <%-JSON.stringify(fields)%>
            const dataType = <%-JSON.stringify(dataType)%>
        </script>
    <script type="text/javascript" src="../js/admin.js"></script>
    
</body>
</html>